{% extends "base.html" %}
{% load static %}

{% block content %}
    <!-- Header-->
    <header class="bg-dark py-4">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-5 fw-bolder">Carro de compras</h1>
                <p class="lead fw-normal text-white-50 mb-0">Revisa tus productos.</p>
            </div>
        </div>
    </header>
    <br>
    <!-- Section-->

    <div class="container">
        <a class="btn btn-primary" href="{% url 'catalogo' %}">Volver a catálogo</a><br><br>
        {% if cart_productos %}
            {% for producto in cart_productos %}
            <center>
                <div class="card mb-3" style="max-width: 800px; border: 1px solid black">
                    <div class="row g-0">
                        <div class="col-md-4" style="display: flex; flex-direction: column; justify-content: center;">
                            <img src="{{ producto.image.url }}" class="img-fluid rounded-start" alt="..." >
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                                <h5 class="card-title">{{ producto.name }}</h5><br>
                                {% if producto.is_sale %}
                                    <p class="card-text" style="border: 1px solid darkgreen; width:fit-content; padding:10px;"><strike>${{ producto.price }}</strike> ${{ producto.sale_price }}</p>
                                {% else %}
                                    <p class="card-text" style="border: 1px solid darkgreen; width:fit-content; padding:10px;">Precio: ${{ producto.price }}</p>
                                {% endif %}
                                <p class="card-text">Marca: {{ producto.marca }}</p>
                                
                                <!-- Mostrar cantidad de producto -->
                                <div class="row justify-content-center align-items-center">
                                    <div class="col-md-3">Cantidad:</div>
                                    <div class="col-md-2">
                                        <select class="form-select" id="select{{ producto.id }}">
                                            
                                            {% for key, value in quantities.items %}
                                                    {% if key == producto.id|slugify %}
                                                    <option selected>{{ value }}</option>
                                                    {% endif %}
                                            {% endfor %}
                                            
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                        </select>
                                    </div>
                                </div><br>

                                <button class="btn btn-primary update-cart" type="button" data-index="{{ producto.id }}">Actualizar</button>
                                <button class="btn btn-danger delete-producto" type="button" data-index="{{ producto.id }}">Eliminar</button>

                            </div>
                        </div>
                    </div>
                </div>
            </center>
            {% endfor %}
            <br>


            <!-- CONFIRMAR TOTAL  Y PAGO -->
            <div align="center">
                    <p style="font-size: 1.1rem; border: 1px solid black; max-width: fit-content; padding: 5px 10px; border-radius: 5px;">Total: ${{ totals }}</p>
                    <a href="{% url 'checkout' %}" class="btn btn-success" style="font-size: 1.1rem;">Confirmar orden</a>
            </div>

        {% else %}
            <center>El carro está vacío.</center>
        {% endif %}
        

    </div>


    <br><br><br><br><br><br><br><br><br><br>

<script>

    // Actualizar carro
    $(document).on("click", ".update-cart", function(e){
        e.preventDefault();
        var productoid = $(this).data("index");
        $.ajax({
            type: "POST",
            url: "{% url 'cart_update' %}",
            data: {
                producto_id: $(this).data("index"),
                producto_qty: $("#select" + productoid + " option:selected").text(),
                csrfmiddlewaretoken: "{{ csrf_token }}",
                action: "post",
            },
            success: function(json){
                location.reload();
            },
            error: function(xhr, errmsg, err){
    
            }
        });
    })

    // Eliminar producto
    $(document).on("click", ".delete-producto", function(e){
        e.preventDefault();
        // var productoid = $(this).data("index");
        $.ajax({
            type: "POST",
            url: "{% url 'cart_delete' %}",
            data: {
                producto_id: $(this).data("index"),
                csrfmiddlewaretoken: "{{ csrf_token }}",
                action: "post",
            },
            success: function(json){
                location.reload();
            },
            error: function(xhr, errmsg, err){
    
            }
        });
    })

    
    
</script>
    
{% endblock %}