{% extends "base.html" %}

{% block content %}

<header class="bg-dark py-4">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-5 fw-bolder">¿Quién es Ferremas?</h1>
            <p class="lead fw-normal text-white-50 mb-0">Simplemente, la mejor distribuidora de contstrucción de Chile!</p>
        </div>
    </div>
</header>


<div class="container">

    <div class="row">
        <center>
            <div class="col-8 container">
                <br><br><p align="justify" style="border: 1px solid black; padding: 50px">FERREMAS es una distribuidora de productos de ferretería y construcción, establecida en la comuna de Santiago, desde la década de los 80. Cuenta con 4 sucursales en la región metropolitana y 3 sucursales en regiones con planes de expansión en todo Chile. <br><br>En FERREMAS, se puede encontrar una amplia gama de productos, desde herramientas manuales y eléctricas, pinturas, materiales eléctricos, hasta accesorios y artículos de seguridad. </p><br><br>

            </div>
        </center>
    </div>
</div>



{% endblock %}