{% extends "base.html" %}

{% block content %}
<br><br><br><br>

<div class="container">



    <center>
    <div class="card mb-3" style="max-width: 800px; border: 1px solid black">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{ producto.image.url }}" class="img-fluid rounded-start" alt="..."
                    style="border-right: 1px solid black">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ producto.name }}</h5><br>
                    {% if producto.is_sale %}
                        <p class="card-text" style="border: 1px solid darkgreen; width:fit-content; padding:10px;"><strike>${{ producto.price }}</strike> ${{ producto.sale_price }}</p>
                    {% else %}
                        <p class="card-text" style="border: 1px solid darkgreen; width:fit-content; padding:10px;">Precio: ${{ producto.price }}</p>
                    {% endif %}
                    <p class="card-text">Marca: {{ producto.marca }}</p>
                    <p>ID: {{ producto.id }}</p>

                    <!-- Volver a inicio -->
                    <button type="button" class="btn btn-primary" value="{{ product.id }}" id="add-cart">Agregar al carro</button>

                    <!--  -->

                </div>

            </div>

        </div>

    </div>
    <a href="{% url 'home' %}" class="btn btn-secondary">Volver</a>

    </center>


</div>


<br><br><br><br>

<script>

$(document).on("click", "#add-cart", function(e){

    e.preventDefault();
    $.ajax({
        type: "POST",
        url: "{% url 'cart_add' %}",
        data: {
            product_id: $("#add-cart").val(),
            csrfmiddlewaretoken: "{{ csrf_token }}",
            action: "post"
        },

        success: function(json){
            console.log(json);
        },

        error: function(xhr, errmsg, err){

        }


        
    });



})






</script>

{% endblock %}