{% extends "base.html" %}

{% block content %}

<header class="bg-dark py-4">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-5 fw-bolder">Regístrate</h1>
            <p class="lead fw-normal text-white-50 mb-0">Crea una nueva cuenta y únete a Ferremas online</p>
        </div>
    </div>
</header>

<div class="container">

    <div class="row">
            <div class="col-md-4 offset-md-4">
                <br><br>
                <form method="POST" action="{% url 'register' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    
                    <center>
                        <button class="btn btn-secondary" type="submit">
                            Registrar
                        </button>
                    </center>
                </form>
                <br><br><br><br>
                <br><br><br><br>
            </div>
    </div>
</div>



{% endblock %}